
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------Reset Above---------------------------------------------- */

html{
    font-size: 62.5%;

}

/* --------------------------------------HTML above-------------------------------------------- */

header{
    background-color: pink;
    width: 100%;
    padding: 20px;
}
.topnav-container{
    display: flex;
    align-items: flex-end;
    
}


.btn{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    font-size: 2em;
    display: inline-block;
}

.btn-sm{
    font-size: 1em;
}

h1{
    color: red;
    font-size: 4em;
}

/* --------------------------------------Header above-------------------------------------------------- */

*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    
}
.myPic{
    /* min-height: 400px; 
    min-width: 300px;
    margin: 40px auto; */

    width: 100%; 
    height: auto;
    
    

}

.myProjectButton{
    margin: 10px;
    font-size: .5em;

}

.img-container, .about .bio{
    width: 50%;
}

.about{
    display: flex;
    margin: 1.75rem;
    font-size: 3em; 
    
    
}


.about .bio h2{
    margin: .5em;
}

.about .bio p{
    margin: .5em;
}

/* --------------------------------------Section about above-------------------------------------------------- */

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projects img{
    margin: 5rem
}

footer{
    background-color: pink;
    
    font-size: 2em;
    

}
footer p{
    align-content: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

/* --------------------------------------Section Projects above-------------------------------------------------- */



/* --------------------------------------@Media max-width:800px-------------------------------------------------- */

@media(max-width: 800px){
     .topnav-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }
    .main-title{
        text-align: center;
    }
  

    body{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header{

        width: 100%;
    }

    .img-container, .about .bio{
        width: 100%;
    }

    .about {
        display: block;
      
    }

    .myPic{
        width: 80%;
        margin: auto;
        display: block;
       
    }
    .about .bio{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    
    .bio{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;
        margin-bottom: 20px;
    }
    .projects img{
         margin: 10px;
    }

}
@media(max-width:500px){
    
}

