header{
    background-color: pink;
}
nav{
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;
    
}
a{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}
h1{
    color: red;
}
body{
    background-color: brown;
}
.myPic{
    height: 350px;
    width: 300px;
}
.about{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.about .bio{
    padding: 20px;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
footer{
    display: flex;
    background-color: pink;
    align-content: center;
    justify-content: center;

}
